@(user: models.User)(implicit messages: Messages)

@scripts = {
 <script type="text/javascript" src="@routes.Assets.at("js/index.js")"></script>
}
@main(Messages("home.title"), user=Some(user), scripts=scripts) {
  <h3><span id="status">Start new task!</span></h3>
  <h1><span id="time">30:00</span></h1>
  <input id="message" type="text">
  <input id="sbutton" type="button" value="Start">
  <table id="timeline" border="1"
       bordercolor="#333333" cellspacing="0"
       cellpadding="5" >
    <tr>
      <th>WHEN</th>
      <th>AC?</th>
      <th>TODO</th>
    </tr>
    <tr>
    </tr>
  </table>
}
